* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Montserrat';
    padding: 0px;
    margin: 0px;
    background-color: white;
}

header {
    color: black;
    position: sticky;
    top: 0px;
    height: 100px;
    margin: 50px 0px 0px 0px;
    padding: 0px;
    background-color: white;
}

#first_line {
    top: 0px;
}

#logo {
    width: 40%;
    height: 100px;
    background-color: white;
    float: left;
    display: table;
}

#logo_init {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 30px;
}

#logo_text {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

#menu {
    width: 60%;
    height: 101px;
    background-color: white;
    float: left;
    display: table;
    text-align: center;
    word-break: break-all;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu_title {
    height: 100px;
    display: table-cell;
    vertical-align: middle;

}

#second_line {
    clear: both;
    height: 50px;
    font-weight: 400;
    background-color: white;
    opacity: 1;
    transition: all .2s ease-out;
    padding-right: 20px;
    visibility: hidden;
    font-size: 12px;
    text-transform: uppercase;
}

#links {
    float: right;
    display: table;
    height: 100%;
    background-color: white;
    text-align: center;
}

.menu_s1,
.menu_s2,
.menu_s3,
.separator1,
.separator2,
.separator3 {
    display: none;
    text-decoration: none;
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
}

#first_links,
#second_links {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#container {
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    clear: both;
}

#title {
    font-size: 40px;
    text-align: center;
    background-color: #363B40;
    color: white;
    padding: 15px 0px 15px 0px;
    margin: 0px;
    display: block;
}

#line {
    margin: 0px;
    padding: 0px;
    display: flex;
    padding: 20px 50px 20px 50px;
}

#img {
    flex-shrink: 0;
    margin: 80px 0px 0px 0px;
    height: 200px;
    width: 250px;
}


#text {
    padding: 0px 0px 0px 80px;
    text-indent: 25px;
    font-size: 16px;
    text-align: justify;
    background-color: #f4f4f4;
    color: black;
}

footer {
    padding-top: 10px;
    padding-right: 20px;
    text-align: end;
    font-size: 15px;
}
